In [47]:

# find the second highest salary
select max(salary) from employees where salary < (select max(salary) from employees);

SyntaxError: invalid syntax (418092986.py, line 2)

In [ ]:
# count emp in each department
select department , count(*) from emp group by department;

In [ ]:
# fetch dulicate emails 
select email, count(*) from users group by email having count(*) > 1;

In [ ]:
# join orders with customer names
select c.name, o.order_date from customer c join orders o on c.id = o.customer_id:

In [ ]:
# Get top 3 hights salaries
select distinct salary from employees order by salary DESC LIMIT 3;

In [ ]:
# Retrive latest 5 logins 
select * from logins order by login_time DESC limit 5;

In [ ]:
# Employees with no manager
select name from employees where manager_id is null;

In [ ]:
# search names starting with 's'
select * from employees where name like 'S%';

In [ ]:
# Total sales per month 
select month (order_date) as month, sum(amount) from sale group by month(order_date)

In [ ]:
# Delete inactive users 
detete from users where last_active < '2023-01-01';