In [1]:
# swap Two variable
a, b = 5,20
a,b = b,a
print(a,b)

20 5

In [2]:
#check even or odd
n = 7 
if n % 2 == 0:
    print('Enen')
else:
    print('odd')

odd

In [3]:
# find factorial(loop)
n = 5
fact = 1
for i in range(1, n+1):
    fact *= i
print(fact)

120

In [4]:
# sum of firstN number 
n = 10 
total = n * (n+1) // 2
print(total)

55

In [6]:
# reverse a string
a = "Abhishek"
print(a[::-1])

kehsihbA

In [8]:
s = 'sir'
if s == s[::-1]:
    print("palindrome")
else:
    print("Not")

Not

In [9]:
# fibonacci series
a,b = 0,1
for _ in range(10):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

In [10]:
# find max of three number 
a,b,c = 3,7,5
print(max(a,b,c))

7

In [12]:
# check prime number 
n = 20
prime = True 
for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
        prime = False 
        break

print("prime"if prime else "not Prime")

not Prime

In [13]:
# find sum of digits
n = 1234
print(sum(int(d)for d in str(n)))

10

In [1]:
# count vowels
a = 'abhishek'
vowels = "aeiou"
count = sum(1 for i in a if i in vowels)
print(count)

3

In [2]:
# multiplication table of a number 
n = 10
for i in range(1,11):
    print(n,"x",i,"=",n*i)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [6]:
# check leap year)
y = 2028
if (y % 4 == 0 and y % 100 != 0) or (y % 400 == 0):
    print('yes')
else:
    print('no')

yes

In [7]:
# convert celsius to fahrenhite
c = 37 
f = (c * 9/5) + 32
f

98.6

In [11]:
def add(a,b): return a+b
def sub(a,b): return a-b
def mul(a,b): return a*b
def div(a,b): return a/b if b != 0 else "Error"
print(add(2,3),sub(4,6),mul(5,6),div(3,6))

5 -2 30 0.5

In [1]:
y = 2034
if (y % 400 == 0):
    print('y')
else:
    print('n')

n