In [1]:
# python program to find the largest element in the list

a = [10 , 30 , 40 , 50]
print(max(a))

50

In [2]:
# python program to interchange first and last elements in a list
a = [3,4 ,5,6 ,7,8,9]
a[0], a[-1] = a[-1], a[0]
a

[9, 4, 5, 6, 7, 8, 3]

In [5]:
# python program to swap two element  in a list
a =[3,4,5,6]
i , j = 1,3 # swap elements
a[i] , a[j] = a[j] , a[i]
a

[3, 6, 5, 4]

In [6]:
# python reverse a list
a =[3,4,5,6,7,8]
a[::-1]

[8, 7, 6, 5, 4, 3]

In [7]:
# program to count occurrences of an elements in a list
a =[1,2,1,3,1,4,1]
a.count(1)

4

In [8]:
# python program to multipl all numbers in the list
a = [1,2,3,4]
p = 1
for num in a:
    p *= num
p

24

In [9]:
# python program to find smallest and largest number in list(without min-max function)

a =[34 , 5 , 45 , 23 , 5]
s = a[0]
l = a[0]
for i in a:
    if i < s:
        s = i
    if i > l:
        l = i

print(s)
print(l)

5
45

In [10]:
# program to find the area of a circle
r = float(input("Enter radius:"))
a = 3.14 * r * r
print(a)

Enter radius: 23

1661.06

In [11]:
# Take input from the user to make a list again take one input from the user and search it in the list and delete that etement if  found lterate  over a list using  for loop
a  = list(map(int, input("Enter list element separated by space").split()))
i = int(input("Enter item to remove: "))
if i in a:
    a.remove(i)
for x in a:
    print(x)

Enter list element separated by space 20
Enter item to remove:  12

20

In [12]:
# Given a list of integer elements create a new list with squarre(with/without list comprehension)
input = [3,4,5,6]
output = [x**2 for x in input]
print(output)

[9, 16, 25, 36]

In [13]:
#With out list comprehension
output2 = []
for x in input:
    output2.append(x**2)

output2

[9, 16, 25, 36]

In [15]:
# create even and odd numbers in alist
even = [x for x in range(152) if x % 2 == 0]
odd = [x for x in range(152) if x % 2 !=0]
print(even)
print(odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151]

In [16]:
# count even and odd numbers list

a = [1,2,3,4,5,6,7]
even = sum(1 for x in a if x % 2 == 0)
odd = sum(1 for x in a if x % 2 != 0)
print(even,odd)

3 4

In [18]:
# make  new lists divisible by 4,6,8,10,3,5,7,9 in range(0,151)

num = range (0,151)
div4 = [x for x in num if x % 4 == 0]
div6 = [x for x in num if x % 6 == 0]
div6

[0,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 66,
 72,
 78,
 84,
 90,
 96,
 102,
 108,
 114,
 120,
 126,
 132,
 138,
 144,
 150]

In [19]:
# separate ints str and floats from list

a = [1, 'hello', 3.14, 2 , 'world', 5.0]
int = [x for x in a if isinstance (x, int)]
str = [x for x in a if isinstance (x, str)]
float = [x for x in a if isinstance (x, float)]

print(int)
print(str)
print(float)

[1, 2]
['hello', 'world']
[3.14, 5.0]

In [23]:
# find the third largest number in a list
a  = [5,6,7,8,9,3]
sort = sorted(a, reverse=True)
largest = sort[0]
print(largest)

9

In [24]:
#Get frequency of element in alist
a = [1,2,3,3,4,4,4,4]
freq = {}
for i in a:
    freq[i] = freq.get(i,0) + 1

print(freq)

{1: 1, 2: 1, 3: 2, 4: 4}

In [25]:
from collections import Counter
a  = [1,2,3,3,4,4,4,4]
print(Counter(a))

Counter({4: 4, 3: 2, 1: 1, 2: 1})

In [26]:
# Check whether a list contains a sublist
def sublist(a, sub):
    for i in range(len(a) - len(sub) +1):
        if a [i:i + len(sub)] == sub:
            return True 
    return False

In [28]:
a = [1,2,3,4,5,6,7]
sub = [3,8]

print(sublist(a,sub))

False

In [29]:
# generate all sublist of a list
a = [1,2,3]
sublist = []
for i in range(len(a) + 1):
    for j in range(i):
        sublist.append(a[j:i])

print(sublist)

[[1], [1, 2], [2], [1, 2, 3], [2, 3], [3]]

In [30]:
# find common item from two list
a = [2,3,4]
b = [2,4,5]

common = list(set(a) & set(b))
print(common)

[2, 4]

In [31]:
#  How to find occurances of an elements in the list
a = [1,2,2,3,3,3]
occ = a.count(2)
occ

2

In [32]:
# How to concatenate two lists
a = [1,2]
b = [3,4]
concat = a + b
print(concat)

[1, 2, 3, 4]

In [33]:
# How to check if a list is empty 
a = []
if not a :
    print('empty')

empty